@import url(./fonts.css);
@import url(./style.css);
.g_toggler{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
    width: 90%;
    height: 20%;
    background: var(--_drawerChildBg);
    gap: 4px;
    font-family: "Poppins";
    font-size: .76rem;
    font-weight: bold;
    color: var(--_drawerChildtxtcolor);
    margin: 10px auto;
    border-radius: 10px;
    justify-content: space-between;

    .g_togglers{
        background-color: var(--_drawer_bg);
        width: 30px;
        height: 17px;
        display: flex;
        align-items: center;
        border-radius: 15px;
        cursor: pointer;
        .w-togglerball{
            margin-left: 1px;
            border-radius: 15px;
            width: 15px;
            height: 15px;
            transition: .4s;
            background-color: var(--_drawerChildBg);
        }
        
    }
}